@tailwind base;
@tailwind components;
@tailwind utilities;

.content-container .full-width {
    width: 100%;
    max-width: 100%;
    margin-left: calc(-1 * theme(space.6));
    margin-right: calc(-1 * theme(space.6));
}
